body {
  padding: 0;
  margin: 0;
  width: 80%;
  height: 100vh;
  margin: 50px auto;

  #app {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px solid transparent;
  }
}
